.aboutContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.aboutContainer svg {
    filter: drop-shadow(-5px 5px 3px #091112);
}

.about {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.aboutRight {
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutLeft {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 20px 0px;
}

.aboutLeft span {
    color: #33EAC9;
    font-size: 1.2rem;
    text-align: left;
}

.profileImageContainer {
    width: 85%;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.profileImageContainer img {
    width: 60%;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%) rotate(-4deg);
    position: absolute;

}

.profileImageContainer svg {
    width: 72%;
    fill: #3EEAA8;
    transform: rotate(-4deg);
    animation: growShrink 2s ease-in-out infinite;
}

.profileImageContainer .contactButton {
    position: absolute;
    left: 73%;
    top: 20%;
    transform: rotate(86deg);
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 3px 10px;
    transition: background-color .2s ease-in-out;
    white-space: nowrap;
}

.aboutLeft .contactButton:hover {
    border: 2px solid transparent;
    background-color: #3EEAA8;
}

.aboutRight h1 {
    background: #232831;
    border: 3px solid #33EAC9;
    margin: 0;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: -5px 5px 3px 0px #141719;
    z-index: 1;
}

.aboutBox {
    justify-content: space-between;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 20px 30px;
    outline: 5px solid white;
    border-radius: 15px;
    box-shadow: -5px 5px 5px #141719;
    z-index: 1;
    background: #141719B0;
    backdrop-filter: blur(2px);
}

.aboutBox .aboutEmphasis {
    background-color: #33EAC9;
    border-radius: 10px 20px 10px 20px;
    margin: 0;
    padding: 0px 10px;
    line-height: 1px;
    text-shadow: 0px 0px 3px #232831;
    white-space: nowrap;
}

.aboutBox p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.aboutRight .shadesBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -7%;
    left: 0;
}

.aboutRight .shadesBackground svg {
    stroke: none;
    height: 100%;
    width: 100%;
    stroke-width: 0.0625;
    fill: #141719;
}

@media screen and (max-width: 1400px) {
    .aboutBox { width: 85%; margin: 20px 0px 0px 0px }
    .aboutBox p { font-size: 1rem; line-height: 1.3rem; }
}

@media screen and (max-width: 1100px) {
    .aboutContainer { padding: 0; margin: 0; }
    .aboutBox { width: 95%; padding: 5px 10px; }
    .aboutBox p { font-size: 0.8rem; line-height: 1rem; }
}

@media screen and (max-width: 740px) {
    .about { flex-flow: column nowrap; justify-content: center; align-items: center; margin: 0 0 50px 0; }
    .aboutLeft, .aboutRight { width: 100%; margin: 20px 0px; }
    .aboutBox { width: 90%; }
    .rectangle1, .rectangle2, .rectangle3 { width: 80%; }
    .rectangle1 { top: 0%; }
    .rectangle2 { top: 20%; }
    .rectangle3 { top: 40%; }
}

@keyframes growShrink {
    0% {transform: rotate(-4deg) scale(1)}
    50% {transform: rotate(-4deg) scale(1.02)}
    100% {transform: rotate(-4deg) scale(1)}
}

@keyframes floatUpDown {
    0% {transform: translateY(-2%)}
    50% {transform: translateY(2%)}
    100% {transform: translateY(-2%)}
}

