.aboutContainer {
    width: 100%;
    height: 95vh;
    max-height: 900px;
    justify-content: center;
    align-items: center;
}

.aboutContainer svg {
    filter: drop-shadow(-5px 5px 3px #141719);
}

.about {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.aboutLeft, .aboutRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutLeft img {
    width: 80%;
    transform: rotate(-7deg);
    z-index: 1;
}

.aboutRight h1 {
    background: #68383D;
    margin: 0;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: -5px 5px 3px 0px #141719;
    z-index: 1;
}

.aboutBox {
    justify-content: space-between;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 20px 30px;
    outline: 5px solid #D9D9D9;
    border-radius: 15px;
    box-shadow: -5px 5px 5px #141719;
    z-index: 1;
    background: #141719B0;
    backdrop-filter: blur(2px);
}

.aboutBox hr {
    border: 2px solid #D9D9D9;
    border-radius: 999px;
    width: 20%;
    margin: 0;
}

.aboutBox p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}
