.cityBackground {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.cityBackground .building1 {
    position: absolute;
    fill: #232831;
    width: 50%;
    top: 2%;
    left: -105%;
}

.cityBackground .building2 {
    position: absolute;
    fill: #232831;
    width: 50%;
    top: 2%;
    right: 3%;
}

@media screen and (max-width: 740px) {
    .cityBackground .building1 { width: 70%; left: -15%; top: -70%; }
    .cityBackground .building2 { width: 70%; top: -5%; right: -15%; }
}