.cityBackground {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.cityBackground .bigBuilding {
    position: absolute;
    fill: #d9d9d9;
    width: 50%;
    top: 30%;
    left: -25%;
    visibility: hidden;
}

.cityBackground .medBuilding {
    position: absolute;
    fill: #232831;
    width: 50%;
    top: 2%;
    left: -105%;
}

.cityBackground .building3 {
    position: absolute;
    fill: #232831;
    width: 50%;
    top: 2%;
    right: 3%;
}

.cityBackground .building4 {
    position: absolute;
    fill: #d9d9d9;
    width: 50%;
    bottom: 9%;
    right: 20%;
    visibility: hidden;
}