.contactContainer {
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.contactBackground {
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 80%;
    height: 180px;
    padding: 10px 20px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.contactBackground svg {
    position: absolute;
    top: 0;
    left: 0;
    
}

.contactBox {
    background-color: #14171977;
    border: 3px solid transparent;
    border-radius: 10px;
    margin: 0;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 3px 0px #141719;
    position: relative;
}

.contactBoxBlock {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 27%;
    height: 70px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    text-shadow: none;
}

.contactBoxBlock:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px #30475D;
}

.contactBoxSVG {
    position: relative;
}

.contactBoxSVG svg {
    transition: all .2s ease-in-out;
}

.contactBoxBlock:hover .contactBoxSVG svg {
    transform: translateY(-3px)
}

.contactBoxBlock hr {
    border: 2px solid #d9d9d9;
    border-radius: 9999px;
    opacity: 0;
    transition: all .2s ease-in-out;
    width: 5px;
    position: absolute;
    bottom: -15px;
    left: 22px;
}

.contactBoxBlock:hover hr {
    opacity: 1;
    width: 30px;
    left: 10px;
}

.contactBoxBlock p {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 95px;
    white-space: nowrap;
}

.contactBoxEntry {
    position: absolute;
    top: 0px;
    left: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.contactBoxEntry svg {
    width: 50px;
    margin: 0px 15px 0px 0px;
    position: relative;

}

.contactBoxEntry h3 {
    text-decoration: underline;
    white-space: nowrap;
}

.contact .box1 { top: 7%; left: 3%; }
.contact .box2 { top: 7%; left: 40%; }
.contact .box3 { top: 7%; left: 70%; }
.contact .box4 { top: 50%; left: 20%; }
.contact .box5 { top: 50%; left: 55%; }

@media screen and (max-width: 740px) {
    .contactContainer { height: auto; }
    .contactBackground { width: 90%; height: auto; }
    .contactBox { padding: 10px 5px; }
    .contactBoxBlock { position: relative; width: 100%; top: auto; left: auto; }
    .contactBoxBlock p { left: 60px; font-size: 0.8rem; }
    .contactBoxEntry { position: relative; width: 100%; top: auto; left: auto; }
    .contact .box1, .contact .box2, .contact .box3, .contact .box4, .contact .box5 { top: auto; left: auto; }
}

