.home {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 0px 0px;
    width: 100%;
    height: 95vh;
    max-height: 1000px;
}

.homeLeft {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 0px 0px 0px 60px;
    width: 50%;
    height: 100%;
}

.homeRight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
}

.homeLeft h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 100%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.homeLeft .purposeEmphasis {
    background-color: #30475D;
    border-radius: 10px 20px 10px 20px;
    margin: 0;
    padding: 0;
    width: fit-content;
    line-height: 1px;
    font-style: italic;
    text-shadow: 0px 0px 5px black;

}

.greetingContainer {
    background-color: #F1545555;
    border-radius: 10px;
    margin: 0;
    padding: 10px 30px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.greetingContainer p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: "Courier"
}

.purposeStatement {
    margin: 40px 0px 0px 0px;
    padding: 20px 30px;
    border: 5px solid #30475D;
    border-radius: 15px;
    width: 80%;
    box-shadow: -5px 5px 5px #141719;
    background: linear-gradient(to bottom left, #30475D99, transparent);
}

.purposeStatement p {
    font-family: "Courier";
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.deskImageContainer {
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.deskImageContainer .paintBackground {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.deskImageContainer .paintBackground svg {
    position: absolute;
}

.deskImageContainer .paintOne { 
    fill: #d9d9d9;
    z-index: 1;
    width: 100%;
    transform: translate(15%, -30%)
}

.deskImageContainer .paintTwo { 
    fill: #141719; 
    z-index: 0;
    transform: translate(0%, -10%)
}

.deskImageContainer .paintThree { 
    fill: #30475D; 
    z-index: 2;
    transform: translate(-5%, -5%)
}

.deskImageContainer img {
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 740px) {

}