.home {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 60px 0px 0px 0px;
    width: 100%;
    min-height: 900px;
    max-height: 1000px;
}

.homeLeft {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 0px 0px 0px 60px;
    width: 50%;
    height: 100%;
}

.homeRight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    position: relative;
    width: 50%;
    height: 100%;
}

.homeLeft h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 100%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.homeLeft .purposeEmphasis {
    background-color: #30475D;
    border-radius: 10px 20px 10px 20px;
    margin: 0;
    padding: 0;
    line-height: 1px;
    font-style: italic;
    text-shadow: 0px 0px 5px black;
    white-space: nowrap;

}

.greetingContainer {
    background-color: #F1545555;
    border-radius: 10px;
    margin: 0;
    padding: 10px 30px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.greetingContainer p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: "Courier"
}

.purposeStatement {
    margin: 40px 0px 0px 0px;
    padding: 20px 30px;
    border: 5px solid #30475D;
    border-radius: 15px;
    width: 80%;
    box-shadow: -5px 5px 5px #141719;
    background: linear-gradient(to bottom left, #30475D99, transparent);
}

.purposeStatement p {
    font-family: "Courier";
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.deskImageContainer {
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.deskImageContainer .paintBackground {
    width: 95%;
    position: absolute;
    top: 10%;
    left: 2.5%;
    z-index: 0;
}

.deskImageContainer .paintBackground svg {
    position: absolute;
}

.deskImageContainer .paintOne { 
    fill: #d9d9d9;
    z-index: 1;
    width: 100%;
    transform: translate(15%, -20%)
}

.deskImageContainer .paintTwo { 
    fill: #141719; 
    z-index: 0;
    transform: translate(0%, -20%)
}

.deskImageContainer .paintThree { 
    fill: #30475D; 
    z-index: 2;
    transform: translate(-5%, -5%)
}

.deskImageContainer img {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .home { max-height: none }
    .home h1 { font-size: 1.5rem; }
    .purposeStatement { width: 95%; }
    .purposeStatement p { font-size: 1rem; line-height: 1.3rem; }
}

@media screen and (max-width: 740px) {
    .home { flex-flow: column nowrap; margin: 100px 0px 0px 0px}
    .homeLeft, .homeRight { height: 50%; width:100%; padding: 0; justify-content: center; align-items: center; }
    .homeLeft h1 { font-size: 1.3rem; line-height: 1.8rem; margin: 30px 0px 0px 0px; text-align: center;}
    .homeLeft .purposeStatement { margin: 30px 0px 0px 0px; }
    .homeRight { margin: 50px 0px }
    .deskImageContainer { width: 100%; }
}

@media screen and (max-height: 800px) {
    .home { min-height: 100vh }
}