.imageViewer {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    z-index: 0;
}

.imageViewer svg {
    filter: drop-shadow(-5px 5px 3px #141719);
}

.imageViewerDisplayContainer {
    width: 90%;
    height: 95%;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.imageViewerDisplayContainer svg {
    width: 100%;
    fill: #3EEAA8;
    transition: all .2s ease-in-out;
}

.imageViewerDisplayContainer .prevImageButton:active svg, .imageViewerDisplayContainer .nextImageButton:active svg, .imageViewerDisplayContainer .prevImageButton:hover svg, .imageViewerDisplayContainer .nextImageButton:hover svg {
    fill: #d9d9d9;
    cursor: pointer;
}

.imageViewerDisplayContainer .prevImageButton, .imageViewerDisplayContainer .nextImageButton {
    position: absolute;
    width: 10%;
    top:40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.imageViewerDisplayContainer .prevImageButton {
    left:0;
    justify-content: flex-start;
}

.imageViewerDisplayContainer .nextImageButton {
    left:90%;
    justify-content: flex-end;
}

.imageViewerDisplay {
    max-width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: -5px 5px 3px 0px #141719;
    overflow: hidden;
}

.imageViewerDisplay .images {
    display: grid;
    grid-template-columns: 1fr;
}

.imageViewerDisplay img {
    max-width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
    grid-row-start: 1;
    grid-column-start: 1;
}

.activeImage { opacity: 1;}
.inactiveImage { opacity: 0;}

.imageViewerDisplay .magnifier {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    fill: none;
    stroke: white;
    stroke-width: 3;
    filter: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
}

.imageViewerDisplay:hover .magnifier {
    opacity: 1
}

.imageSelector {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 20px 0px 0px 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 10px 20px;
    background: linear-gradient(to right, transparent, #232831B0 30%, #232831B0 70%, transparent);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.imageSelector hr {
    border: 3px solid white;
    border-radius: 999px;
    width: 45%;
    transition: all .2s ease-in-out;
    margin: 10px;
    opacity: .3;
}

.imageSelector .imageContainer {
    overflow: hidden;
    height: 100px;
    width: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #232831;
    box-shadow: -5px 5px 3px 0px #141719;
    transition: all .2s ease-in-out;
}

.imageSelector .imageContainer:hover {
    opacity: 0.9;
    cursor: pointer;
}

.imageSelector .imageContainer img {
    height: 100%;
}

.imageSelector .selected {
    opacity: 1;
    border: 2px solid #33EAC9;
}

.imageSelector .unselected {
    opacity: .5;
    border: 2px solid transparent;
}

@media screen and (max-width: 740px) {
    .imageViewer { height: auto }
    .imageViewerDisplayContainer { width: 100% }
    .imageViewerDisplayContainer .prevImageButton, .imageViewerDisplayContainer .nextImageButton { visibility: hidden; }
    .imageSelector { width: 95%; flex-flow: row wrap; }
    .imageSelector .imageContainer { width: 45%; margin: 10px 0px }
}