@font-face {
  font-family: "3D Isometric";
  src: url('../fonts/3d-isometric-font/3DIsometric-YzLLy.ttf') format('truetype');
  /*src: url('../fonts/3d-isometric-font/3DIsometricBlack-BWPPG.ttf') format('truetype');
  src: url('../fonts/3d-isometric-font/3DIsometricBold-8MYYZ.ttf') format('truetype');*/
}

@font-face {
  font-family: "Amne Sans";
  src: url('../fonts/a-amne-sans-font/AmneSans-BWXVd.ttf') format('truetype');
}

@font-face {
  font-family: "Turpis";
  src: url('../fonts/turpis-font/Turpis-GOgVm.ttf') format('truetype');
  src: url('../fonts/turpis-font/TurpisItalic-JR0j7.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #232831;
  color: white;
  font-family: "Courier";
  overflow-x: hidden;
}

.row {
  display:flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.navBarBackground {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 60px;
  top: 5px;
  left: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #232831FF 50%, #23283100 90%);
  padding: 10px 0px 0px 0px;
  clip: rect(0px, calc(100vw - ((100vw - 1800px) / 2) - 12px), 100px, calc((100vw - 1800px) / 2));
}

.navBarContainer {
  width: 100%;
  max-width: 1920px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.navBarName {
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.navBarName img {
  height: 35px;
}

.navBarLogo {
  width: 17%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
}

.navBarLogo h1 {
  font-size: 2.1rem;
  font-family: "3D Isometric";
  width: auto;
  margin: 6px 0px 0px 0px;
  padding: 5px 30px;
  outline: 2px solid white;
  outline-offset: -5px;
  border-radius: 20px 10px 20px 10px;
  background-color: #232831;
}

.navBarLogo h2 {
  font-size: 1.2rem;
  font-family: "Amne Sans";
  width: auto;
  margin: 10px 0px 0px 0px;
  padding: 5px 10px 0px 10px;
  background-color: #232831;
  border-radius: 20px 10px 20px 10px;

}

.navBarName .social {
  width: 71%;
  height: 55px;
  position: absolute;
  top: 12px;
  left: 340px;
  justify-content: flex-start;
  align-items: center;
}

.navBarName .social a {
  height: 60%;
  margin: 0px 6px;
  transition: all .2s ease-in-out;
}

.navBarName .social svg {
  height: 100%;
  fill: #d9d9d9;
}

.navBarName .social .githubLogo { fill: #d9d9d9; transition: all .2s ease-in-out }
.navBarName .social .indeedLogoBG { fill: transparent; transition: all .2s ease-in-out }
.navBarName .social .indeedLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.navBarName .social .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.navBarName .social .electionLogoRed { fill: #d9d9d9; transition: all .2s ease-in-out }
.navBarName .social .electionLogoBlue { fill: #a9a9a9; transition: all .2s ease-in-out }

.navBarName .social svg:hover .githubLogo { fill: white; transition: all .2s ease-in-out }
.navBarName .social svg:hover .indeedLogoBG { fill: #069; transition: all .2s ease-in-out }
.navBarName .social svg:hover .indeedLogoLetters { fill: white; transition: all .2s ease-in-out }
.navBarName .social svg:hover .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.navBarName .social svg:hover .electionLogoRed { fill: #fa1a54; transition: all .2s ease-in-out }
.navBarName .social svg:hover .electionLogoBlue { fill: #3146ff; transition: all .2s ease-in-out }

.navBar {
  justify-content: space-evenly;
  align-items: center;
  width: 48%;
  border-radius: 20px 20px 0px 0%;
  position: absolute;
  top: 10px;
  right: 80px;
  z-index: 5;
}

.navBar h2 {
  margin: 0;
  padding: 10px;
  width: 20%;
  text-align: center;
  z-index: 5;
  font-family: "Turpis";
}

.navSVG {
  position: fixed;
  justify-self: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1920px;
  height: 60px;
  z-index: 4;
}

.navSVG svg path {
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
  width: auto;
}

.sectionTitleContainer {
  width: 90%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sectionTitle {
  width: 25%;
  min-width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F15455;
  border-radius: 10px;
  box-shadow: -5px 5px 3px 0px #141719;
  margin: 0;
  z-index: 1;
}

.sectionTitle h1 {
  font-family: "3D Isometric";
  font-size: 4rem;
  text-align: center;
  width: 100%;
  border-left: 10px solid white;
  border-right: 10px solid white;
  padding: 10px 20px;
  margin: 0;
  background-color: #232831;
}

.sectionTitle hr {
  width: 100%;
  margin: 0px;
  border: 3px solid white;
}

.pageContainer {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.pageBackground {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.page {
  max-width: 1800px;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, #232831 10%, #30475D 50%, #232831 90%);
  box-shadow: 0px 0px 5px 10px #141719;
  border-left: 5px solid #d9d9d9;
  border-right: 5px solid #d9d9d9;
  outline: 5px solid #f15455;
  padding: 0px 20px;
  z-index: 0;
  overflow: hidden;
}

.pageSection {
  justify-content: center;
  align-items: center;
  margin: 0px 0px 100px 0px;
}

.pageEnd {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #d9d9d9;
  border-top: 10px solid #f15455;
  z-index: 1;
  margin: 0;
}
