@font-face {
  font-family: "3D Isometric";
  src: url('../fonts/3d-isometric-font/3DIsometric-YzLLy.ttf') format('truetype');
  /*src: url('../fonts/3d-isometric-font/3DIsometricBlack-BWPPG.ttf') format('truetype');
  src: url('../fonts/3d-isometric-font/3DIsometricBold-8MYYZ.ttf') format('truetype');*/
}

@font-face {
  font-family: "Amne Sans";
  src: url('../fonts/a-amne-sans-font/AmneSans-BWXVd.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #232831;
  color: white;
  font-family: "Courier";
  font-size: 1rem;
  overflow-x: hidden;
}

.row {
  display:flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  color: white;
}

.sectionTitleContainer {
  width: 90%;
  justify-content: flex-start;
  align-items: center;
}

.sectionTitle {
  width: 25%;
  min-width: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: #F15455;
  box-shadow: -5px 5px 3px 0px #141719;
  z-index: 1;
}

.sectionTitle h1 {
  font-family: "3D Isometric";
  font-size: 4rem;
  text-align: center;
  width: 100%;
  border-left: 10px solid white;
  border-right: 10px solid white;
  padding: 10px 20px;
  margin: 0;
  background-color: #232831;
}

.sectionTitle hr {
  width: 100%;
  margin: 0px;
  border: 3px solid white;
}

.pageContainer {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.pageBackground {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.reactPythonContent {
  width: 100%;
  position: relative;
}

.reactPythonWrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #141719B0;
  backdrop-filter: blur(2px);
  box-shadow: -5px 5px 3px 0px #141719;
  padding: 40px 0px 0px 0px;
  z-index: 1;
}

.page {
  max-width: 1800px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, #232831 10%, #30475D 50%, #232831 90%);
  box-shadow: 0px 0px 5px 10px #141719;
  border-left: 5px solid #d9d9d9;
  border-right: 5px solid #d9d9d9;
  outline: 5px solid #f15455;
  padding: 0px 20px;
  z-index: 0;
  overflow: hidden;
}

.pageSection {
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 100px 0px;
}

.pageEnd {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #d9d9d9;
  border-top: 10px solid #f15455;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .pageSection { margin: 0px 0px 50px 0px; }
  .page { padding: 0; }
  .sectionTitleContainer { justify-content: center; }
  .sectionTitle h1 { font-size: 2.5rem; }
}
