@font-face {
  font-family: "3D Isometric";
  src: url('../fonts/3DIsometricBold-8MYYZ.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Amne Sans";
  src: url('../fonts/AmneSans-BWXVd.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #232831;
  color: white;
  font-family: "Courier";
  font-size: 1rem;
}

.row {
  display:flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  color: white;
}

.pageContainer {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.pageBackground {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.reactPythonContent {
  width: 100%;
  position: relative;
}

.reactPythonWrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #141719B0;
  backdrop-filter: blur(2px);
  box-shadow: -5px 5px 3px 0px #141719;
  padding: 40px 0px 0px 0px;
  z-index: 1;
}

.pageWrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #232831 10%, #30475D 50%, #232831 90%);
  box-shadow: 0px 0px 5px 5px #141719;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.page {
  max-width: 1800px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}

.divider {
  width: 100%;
  border: 1px solid transparent;
  margin: 0px 0px 100px 0px;
}

.pageSection {
  justify-content: flex-start;
  align-items: center;
}

.pageEnd {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #d9d9d9;
  border-top: 10px solid #3EEAA8;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .divider { margin: 0px 0px 50px 0px; }
  .page { padding: 0; }
  .sectionTitleContainer { justify-content: center; }
  .sectionTitle h1 { font-size: 2.5rem; }
}

@media screen and (min-width: 1800px) {
  .pageWrapper { width: 90%; min-width: 1800px }
}
