.ios {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.iosRight {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-end;
}

.iosLeft {
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.ios h2 {
    font-size: 2rem;
    text-decoration: underline;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    padding: 5px 20px;
    margin: 20px 10px 20px 0px;
    background: linear-gradient(to bottom, #30475DFF, #30475D00);
    text-shadow: 0px 0px 5px black;
}

.ios p {
    text-shadow: 0px 0px 5px black;
}

.ios video {
    max-width: 35%;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: -5px 5px 3px 0px #141719;
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    .ios { flex-flow: column-reverse nowrap; justify-content: center; align-items: center; }
    .iosLeft, .iosRight { width: 100%; justify-content: space-around; align-items: center }
    .ios h2 { font-size: 1.7rem; align-self: flex-start; margin: 20px 0px 20px 10px; }
}

@media screen and (max-width: 740px) {
    .ios { flex-flow: column nowrap }
    .ios p { text-align: center; }
    .ios video { max-width: 70%; margin: 20px 0px; }
}