.navBarBackground {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 60px;
    top: 5px;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #232831FF 50%, #23283100 90%);
    padding: 10px 0px 0px 0px;
    clip: rect(0px, calc(100vw - ((100vw - 1800px) / 2) - 12px), 100px, calc((100vw - 1800px) / 2));
  }
  
  .navBarContainer {
    width: 100%;
    max-width: 1920px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }
  
  .navBarContainer h1 {
    font-size: auto;
    font-family: "3D Isometric";
    text-align: center;
    width: 300px;
    margin: 6px 0px 0px 0px;
    padding: 5px 30px;
    outline: 2px solid white;
    outline-offset: -5px;
    border-radius: 20px 10px 20px 10px;
    background-color: #232831;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 5;
  }
  
  .navBarContainer h2 {
    font-size: 1.2rem;
    font-family: "Amne Sans";
    padding: 5px 10px 0px 10px;
    background-color: #232831;
    border-radius: 20px 10px 20px 10px;
    white-space: nowrap;
    position: fixed;
    top: 45px;
    left: 75px;
    z-index: 6;
  }
  
  .navBar {
    justify-content: space-evenly;
    align-items: center;
    width: 770px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 5;
  }
  
  .navBar h3 {
    margin: 0;
    width: 125px;
    text-align: center;
    z-index: 5;
    font-family: "Courier";
    font-size: 1.3rem;
    margin: 15px 0px 0px 0px;
    white-space: nowrap;
    position: absolute;
  }
  
  .navSVG {
    position: fixed;
    justify-self: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1920px;
    height: 60px;
    z-index: 4;
  }
  
  .navSVG svg path {
    transition: all .2s ease-in-out;
  }

  .mobileNavBarContainer {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .mobileNavBarContainer h1 {
    font-size: 1.7rem;
    font-family: "3D Isometric";
    text-align: center;
    width: 250px;
    margin: 3px 0px 0px 0px;
    padding: 5px 10px;
    outline: 2px solid white;
    outline-offset: -5px;
    border-radius: 20px 10px 20px 10px;
    background-color: #232831;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 5;
  }
  
  .mobileNavBarContainer h2 {
    font-size: 1.2rem;
    font-family: "Amne Sans";
    padding: 5px 10px 0px 10px;
    background-color: #232831;
    border-radius: 20px 10px 20px 10px;
    white-space: nowrap;
    position: fixed;
    top: 35px;
    left: 48px;
    z-index: 6;
  }

  .mobileNavBarContainer .menuButton {
    position: fixed;
    top: 15px;
    right: 5px;
    width: 40px;
    z-index: 5;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: #141719B0;

  }

  .mobileNavBarContainer .menuButton svg {
    fill: #f15455;
  }

  .mobileNavBarContainer .mobileMenu {
    position: fixed;
    top: 20px;
    right: 50px;
    padding: 15px;
    background: #141719B0;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  .mobileNavBarContainer .mobileMenu a {
    margin: 0px 0px 5px 0px;
    transition: all .2s ease-in-out;
  }

  .mobileNavBarContainer .mobileMenu a:hover {
    transform: translateX(-10%);
  }

  .mobileNavBarBackground {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 50px;
    top: 5px;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #232831FF 20%, #23283100 90%);
    padding: 10px 0px 0px 0px;
  }

  @media screen and (max-width: 740px) {
    .mobileNavBarContainer .mobileMenu { top: 60px; right: 5px; }
  }

  @keyframes openMenu {
    0% {
      opacity: 0;
      max-height: 1px;
    }

    100% {
      opacity: 1;
      max-height: 250px;
    }
  }

  @keyframes closeMenu {
    0% {
      opacity: 1;
      max-height: 250px;
    }

    100% {
      opacity: 0;
      max-height: 1px;
    }
  }