.navBarBackground {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 60px;
    top: 5px;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #232831FF 50%, #23283100 90%);
    padding: 10px 0px 0px 0px;
    clip: rect(0px, calc(100vw - ((100vw - 1800px) / 2) - 12px), 100px, calc((100vw - 1800px) / 2));
  }
  
  .navBarContainer {
    width: 100%;
    max-width: 1920px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }
  
  .navBarName {
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }
  
  .navBarName img {
    height: 35px;
  }
  
  .navBarLogo {
    width: 17%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
  }
  
  .navBarLogo h1 {
    font-size: auto;
    font-family: "3D Isometric";
    text-align: center;
    width: 300px;
    margin: 6px 0px 0px 0px;
    padding: 5px 30px;
    outline: 2px solid white;
    outline-offset: -5px;
    border-radius: 20px 10px 20px 10px;
    background-color: #232831;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 5px;
  }
  
  .navBarLogo h2 {
    font-size: 1.2rem;
    font-family: "Amne Sans";
    width: auto;
    margin: 10px 0px 0px 0px;
    padding: 5px 10px 0px 10px;
    background-color: #232831;
    border-radius: 20px 10px 20px 10px;
    white-space: nowrap;
  
  }
  
  .navBarName .social {
    width: 71%;
    height: 55px;
    position: absolute;
    top: 12px;
    left: 340px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navBarName .social a {
    height: 60%;
    margin: 0px 6px;
    transition: all .2s ease-in-out;
  }
  
  .navBarName .social svg {
    height: 100%;
    fill: #d9d9d9;
  }
  
  .navBarName .social .githubLogo { fill: #d9d9d9; transition: all .2s ease-in-out }
  .navBarName .social .indeedLogoBG { fill: transparent; transition: all .2s ease-in-out }
  .navBarName .social .indeedLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
  .navBarName .social .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
  .navBarName .social .electionLogoRed { fill: #d9d9d9; transition: all .2s ease-in-out }
  .navBarName .social .electionLogoBlue { fill: #a9a9a9; transition: all .2s ease-in-out }
  
  .navBarName .social svg:hover .githubLogo { fill: white; transition: all .2s ease-in-out }
  .navBarName .social svg:hover .indeedLogoBG { fill: #069; transition: all .2s ease-in-out }
  .navBarName .social svg:hover .indeedLogoLetters { fill: white; transition: all .2s ease-in-out }
  .navBarName .social svg:hover .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
  .navBarName .social svg:hover .electionLogoRed { fill: #fa1a54; transition: all .2s ease-in-out }
  .navBarName .social svg:hover .electionLogoBlue { fill: #3146ff; transition: all .2s ease-in-out }
  
  .navBar {
    justify-content: space-evenly;
    align-items: center;
    width: 770px;
    border-radius: 20px 20px 0px 0%;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 5;
  }
  
  .navBar h2 {
    margin: 0;
    padding: 10px;
    width: 125px;
    text-align: center;
    z-index: 5;
    font-family: "Turpis";
    white-space: nowrap;
    position: absolute;
  }
  
  .navSVG {
    position: fixed;
    justify-self: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1920px;
    height: 60px;
    z-index: 4;
  }
  
  .navSVG svg path {
    transition: all .2s ease-in-out;
  }

  @media screen and (max-width: 740px) {

  }