.projectPanel {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
}

.projectPanelDisplayContainer {
    border: 5px solid #d9d9d9;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    background: #141719B0;
    backdrop-filter: blur(2px);
    box-shadow: -5px 5px 3px 0px #141719;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.projectPanelDisplayContainer svg {
    width: 100%;
    fill: #3EEAA8;
    transition: all .2s ease-in-out;
}

.projectPanelDisplayContainer .prevPanelButton:active svg, .projectPanelDisplayContainer .nextPanelButton:active svg {
    fill: #d9d9d9;
}

.projectPanelDisplayContainer .prevPanelButton, .projectPanelDisplayContainer .nextPanelButton {
    width: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.projectPanelDisplayContainer .prevPanelButton:hover svg {
    fill: #d9d9d9;
}

.projectPanelDisplayContainer .nextPanelButton:hover svg {
    fill: #d9d9d9;
}

.projectPanelDisplay {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

.projectPanelSelector {
    width: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #141719;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 20px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.projectPanelSelector hr {
    border: 3px solid white;
    border-radius: 999px;
    width: 45%;
    transition: all .2s ease-in-out;
    margin: 10px;
    opacity: .3;
    cursor: pointer;
}

.projectPanelSelector .selected {
    opacity: 1;
}

.panel {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-content: center;
    align-items: flex-start;
    transition: opacity .2s ease-in-out;
}

.panel p {
    width: 95%;
}

.activePanel { opacity: 1; width: 100%;}
.inactivePanel { opacity: 0; width: 100%;}