.projectPanel {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    z-index: 0;
}

.projectPanelDisplayContainer {
    border: 5px solid #d9d9d9;
    width: 100%;
    height: 95%;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
    background: #141719B0;
    box-shadow: -5px 5px 3px 0px #141719;
    z-index: 3;
}

.projectPanelDisplayContainer svg {
    width: 100%;
    fill: #F15455;
    transition: all .2s ease-in-out;
}

.projectPanelDisplayContainer .prevPanelButton:active svg, .projectPanelDisplayContainer .nextPanelButton:active svg {
    fill: #d9d9d9;
}

.projectPanelDisplayContainer .prevPanelButton, .projectPanelDisplayContainer .nextPanelButton {
    position: absolute;
    width: 5%;
    height: 100%;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.projectPanelDisplayContainer .prevPanelButton {
    left:0;
    background: linear-gradient(to right, #151820FF, #15182000);
    justify-content: flex-start;
}

.projectPanelDisplayContainer .nextPanelButton {
    left:95%;
    background: linear-gradient(to left, #151820FF, #15182000);
    justify-content: flex-end;
}

.projectPanelDisplayContainer .prevPanelButton:hover, .projectPanelDisplayContainer .nextPanelButton:hover { opacity: 1; transition: all .2s ease-in-out }

.projectPanelDisplay {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
}

.projectPanelSelector {
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background: #141719;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 20px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.projectPanelSelector hr {
    border: 3px solid white;
    border-radius: 999px;
    width: 45%;
    transition: all .2s ease-in-out;
    margin: 10px;
    opacity: .3;
    cursor: pointer;
}

.projectPanelSelector .selected {
    opacity: 1;
}

.panel {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all .2s ease-in-out;
}

.activePanel { opacity: 1; width: 100%;}
.inactivePanel { opacity: 0; width: 100%;}

.projectPanel .paintBackground {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.projectPanel .paintBackground svg {
    position: absolute;
}

.projectPanel .paintOne { 
    fill: #d9d9d9;
    z-index: 2;
    width: 85%;
    transform: translate(-10%, -35%) rotate(160deg);
}

.projectPanel .paintTwo { 
    fill: #141719; 
    z-index: 0;
    width: 65%;
    transform: translate(0%, -25%) rotate(-60deg);
}

.projectPanel .paintThree { 
    fill: #f15455;
    z-index: 1;
    width: 65%;
    transform: translate(27%, -50%) rotate(240deg);
}