.projectDescription {
    background-color: #68383D;
    padding: 10px 20px;
    width: 90%;
    margin: 20px 0px;
    border-radius: 30px;
    border: 3px solid #F15455;
    box-shadow: -5px 5px 3px 0px #141719;
    position: relative;
    z-index: 1;
}

.projectDescription h3, .projectDescription h4 {
    position: absolute;
    background-color: #232831;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #30475D;
    text-shadow: 0px 0px 5px black;
}

.projectDescription h3 { top: -33px; }
.projectDescription h4 { bottom: -36px; right: 30px; border-radius: 30px; }

.projectDescription a {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.projectDescription a:hover {
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

/*.ios .projectDescription h3 { top: -20%; }
.colorPicker .projectDescription h3 { top: -13%; }*/