.pythonContainer {
    width: 100%;
    height: 140vh;
    max-height: 1300px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pythonWrapper {
    width: 100%;
    height: 100%;
    max-height: 1300px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #141719B0;
    backdrop-filter: blur(2px);
    box-shadow: -5px 5px 3px 0px #141719;
    padding: 40px 0px 0px 0px;
    z-index: 1
}

.pythonContainer svg {
    filter: drop-shadow(-5px 5px 3px #141719)
}

.python {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.python h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 80%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.python video {
    box-shadow: -5px 5px 3px 0px #141719;
    height: 100%;
}

.python .ticTacToeText {
    position: absolute;
    top: 100px;
    left: 10%;
    width: 40%;
}

.python .sudokuText {
    position: absolute;
    bottom: 150px;
    right: 10%;
    width: 40%;
}

.python .ticTacToeVideo { 
    position: absolute;
    top: 20px; 
    right: 10%; 
    height: 55%;
}

.python .sudokuVideo { 
    position: absolute; 
    bottom: 100px; 
    left: 7%; 
    height: 55%;
}

.pythonContainer .arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pythonContainer .arrow1 {
    position: absolute;
    top: 32%;
    left: 36%;
    width: 15%;
    transform: rotate(165deg);
    filter: drop-shadow(5px -5px 3px #141719);
    fill: #d9d9d9;
}

.pythonContainer .arrow2 {
    position: absolute;
    top: 55%;
    right: 48%;
    width: 15%;
    transform: scaleX(-1) rotate(15deg);
    filter: drop-shadow(5px 5px 3px #141719);
    fill: #d9d9d9;
}

.backBlock1 {
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: -5%;
    left: 5%;
    z-index: -1;
    animation: floatLargeUp 5s ease-in-out infinite;
    fill: #141719;
}

.frontBlock1 {
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: -2.5%;
    left: 2.5%;
    z-index: -1;
    animation: floatSmallUp 5s ease-in-out infinite;
    fill: #F15455;
}

.backBlock2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: -1;
    animation: floatLargeDown 5s ease-in-out infinite;
    fill: #232831;
}

.frontBlock2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    z-index: -1;
    animation: floatSmallDown 5s ease-in-out infinite;
    fill: #d9d9d9;
}

@media screen and (max-width: 1400px) {
    .pythonContainer { max-height: none }
    .python .ticTacToeVideo { right: 5% }
    .python .ticTacToeText { top: 50px; }
    .python .sudokuVideo { bottom: 50px }
    .python .sudokuText { bottom: 100px }
}

@keyframes floatSmallUp {
    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeUp {
    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatSmallDown {
    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeDown {
    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0%);
    }
}