.pythonContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pythonContainer svg {
    filter: drop-shadow(-5px 5px 3px #141719)
}

.python {
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: relative;
}

.python h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 80%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.python video {
    box-shadow: -5px 5px 3px 0px #141719;
    width: 100%;
    top: 0;
    left: 0;
}

.python .ticTacToe {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.python .ticTacToeText {
    width: 40%;
    margin: 70px 70px 0 0;
    justify-content: center;
    align-items: center;
}

.python .ticTacToeVideo { 
    position: relative;
    width: 30%;
    margin: 0 0 0 70px;
    justify-content: flex-start;
    align-items: flex-start;
}

.python .sudoku {
    width: 100%;
    margin: -250px 0 50px 0;
    justify-content: center;
    align-items: center;
}

.python .sudokuText {
    width: 40%;
    margin: 70px 0 0 70px;
    justify-content: center;
    align-items: center;
}

.python .sudokuVideo { 
    position: relative; 
    width: 30%;
    margin: 0 70px 0 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.pythonContainer .arrow1 {
    width: 25%;
    z-index: 100;
    margin: 0 -40px 0 0;
    align-self: flex-end;
    filter: drop-shadow(5px -5px 3px #141719);
    fill: white;
    animation: topArrowRotate 2s ease-in-out infinite;
}

.pythonContainer .arrow2 {
    width: 25%;
    align-self: flex-start;
    margin: 0 0 0 -70px;
    filter: drop-shadow(5px 5px 3px #141719);
    fill: white;
    animation: bottomArrowRotate 2s 0.5s ease-in-out infinite;
}

.backBlock1 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -5%;
    left: 5%;
    z-index: -1;
    animation: floatLargeUp 5s ease-in-out infinite;
    fill: #141719;
}

.frontBlock1 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -2.5%;
    left: 2.5%;
    z-index: -1;
    animation: floatSmallUp 5s ease-in-out infinite;
    fill: #33EAC9;
}

.backBlock2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: -1;
    animation: floatLargeDown 5s ease-in-out infinite;
    fill: #232831;
}

.frontBlock2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    z-index: -1;
    animation: floatSmallDown 5s ease-in-out infinite;
    fill: white;
}

@media screen and (max-width: 1700px) {
    .python .sudoku { margin: -80px 0px 50px 0px }
}

@media screen and (max-width: 1100px) {
    .python .sudoku { margin: -50px 0 50px 0; }
    .python .ticTacToeText, .python .sudokuText { width: 50%; margin: 20px 0 0 0; }
    .python .ticTacToeVideo, .python .sudokuVideo { width: 40%; margin: 0; }
    .pythonContainer .arrow1 { margin: 0 30px 0 0; }
    .pythonContainer .arrow2 { margin: 0 0 0 30px; }
}

@media screen and (max-width: 900px) {
    .pythonContainer .arrow1, .pythonContainer .arrow2 { visibility: hidden; }
}

@media screen and (max-width: 740px) {
    .python .ticTacToe { flex-flow: column nowrap; justify-content: center; align-items: center; }
    .python .sudoku { flex-flow: column-reverse nowrap; justify-content: center; align-items: center; }
    .python .ticTacToeText { width: 100%; justify-content: center; align-items: center; }
    .python .sudokuText { width: 100%;  justify-content: center; align-items: center; }
    .python .ticTacToeVideo { width: 80%; margin: -20px 0 0 0; }
    .python .sudokuVideo { width: 80%; margin: 40px 0 0 0; }

}



@keyframes floatSmallUp {
    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeUp {
    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatSmallDown {
    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeDown {
    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes topArrowRotate {
    0% { transform: translate(0, 0) rotate(165deg) }
    50% { transform: translate(4%, 2%) rotate(162deg); }
    100% { transform: translate(0, 0) rotate(165deg) }

}

@keyframes bottomArrowRotate {
    0% { transform: translate(0, 0) scaleX(-1) rotate(13deg) }
    50% { transform: translate(-3.5%, -1%) scaleX(-1) rotate(18deg); }
    100% { transform: translate(0, 0) scaleX(-1) rotate(13deg) }

}