.pythonContainer {
    width: 100%;
    height: 140vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pythonContainer svg {
    filter: drop-shadow(-5px 5px 3px #141719)
}

.python {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.python h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 80%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.python video {
    box-shadow: -5px 5px 3px 0px #141719;
    height: 100%;
    top: 0;
    left: 0;
}

.python .ticTacToeText {
    position: absolute;
    top: 80px;
    left: 10%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.python .sudokuText {
    position: absolute;
    bottom: 200px;
    right: 10%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.python .ticTacToeVideo { 
    position: absolute;
    top: 20px; 
    right: 10%; 
    height: 55%;
    justify-content: flex-start;
    align-items: flex-start;
}

.python .sudokuVideo { 
    position: absolute; 
    bottom: 100px; 
    left: 7%; 
    height: 55%;
    justify-content: flex-start;
    align-items: flex-start;
}

.pythonContainer .arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pythonContainer .arrow1 {
    position: absolute;
    top: 32%;
    left: 36%;
    width: 15%;
    transform: rotate(165deg);
    filter: drop-shadow(5px -5px 3px #141719);
    fill: #d9d9d9;
}

.pythonContainer .arrow2 {
    position: absolute;
    top: 55%;
    right: 48%;
    width: 15%;
    transform: scaleX(-1) rotate(15deg);
    filter: drop-shadow(5px 5px 3px #141719);
    fill: #d9d9d9;
}

.backBlock1 {
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: -5%;
    left: 5%;
    z-index: -1;
    animation: floatLargeUp 5s ease-in-out infinite;
    fill: #141719;
}

.frontBlock1 {
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: -2.5%;
    left: 2.5%;
    z-index: -1;
    animation: floatSmallUp 5s ease-in-out infinite;
    fill: #33EAC9;
}

.backBlock2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: -1;
    animation: floatLargeDown 5s ease-in-out infinite;
    fill: #232831;
}

.frontBlock2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    z-index: -1;
    animation: floatSmallDown 5s ease-in-out infinite;
    fill: #d9d9d9;
}

@media screen and (max-width: 1400px) {
    .pythonContainer { height: 1100px }
    .python .ticTacToeVideo { right: 5% }
    .python .ticTacToeText { top: 50px; }
    .python .sudokuVideo { bottom: 50px; left: 5%; }
    .python .sudokuText { bottom: 80px }
    .pythonContainer .arrow1 { top: 35%;  }
}

@media screen and (max-width: 740px) {
    .pythonContainer { height: auto; max-height: none; }
    .python { flex-flow: column nowrap; }
    .python .ticTacToeText { position: relative; width: 100%; left: auto; top: auto;}
    .python .ticTacToeVideo { position: relative; height: 370px; top: auto; right: auto; overflow: hidden; }
    .python .sudokuText { position: relative; width: 90%; bottom: auto; right: auto; }
    .python .sudokuVideo { position: relative; height: 450px; overflow: hidden; bottom: auto; left: auto; }
    .pythonContainer .arrows { visibility: hidden }
}

@media screen and (min-width: 1800px) {
    .pythonContainer {height: 1300px}
}

@keyframes floatSmallUp {
    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeUp {
    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatSmallDown {
    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatLargeDown {
    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0%);
    }
}