.pythonContainer {
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #232831 50%, #30475D);
}

.python {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pythonLeft {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 0px 0px 0px 60px;
    width: 50%;
    height: 100%;
}

.pythonRight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
}

.pythonLeft h1 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 80%;
    font-family: "Courier New";
    font-size: 2rem;
    line-height: 2.3rem;
}

.pythonLeft .purposeEmphasis {
    background-color: #30475D;
    border-radius: 10px 20px 10px 20px;
    margin: 0;
    padding: 0;
    width: fit-content;
    line-height: 1px;
    font-style: italic;
    text-shadow: 0px 0px 5px black;

}

.greetingContainer {
    background-color: #F1545555;
    border-radius: 10px;
    margin: 0;
    padding: 10px 30px;
    box-shadow: -5px 5px 3px 0px #141719;
}

.greetingContainer p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: "Courier"
}

.purposeStatement {
    margin: 40px 0px 0px 0px;
    padding: 20px 30px;
    border: 5px solid #30475D;
    border-radius: 15px;
    width: 80%;
    box-shadow: -5px 5px 5px #141719;
    background: linear-gradient(to bottom left, #30475D99, transparent);
}

.purposeStatement p {
    font-family: "Courier";
    font-size: 1.2rem;
    line-height: 1.5rem;
}