.reactPythonBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.reactPythonBackground .paintBackground {
    width: 90%;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 15%;
    right: -5%;
    z-index: 0;
}

.reactPythonBackground .paintBackground svg {
    position: absolute;
    filter: none;
    overflow: hidden;
}

.reactPythonBackground .paintOne { 
    fill: #141719;
    z-index: 2;
    width: 85%;
    transform: translate(-10%, -5%) rotate(90deg) scaleX(0.67);
}

.reactPythonBackground .paintTwo { 
    fill: #30475D; 
    z-index: 0;
    width: 65%;
    transform: translate(15%, -10%) rotate(-90deg) scaleX(0.67);
}

.reactPythonBackground .paintThree { 
    fill: #d9d9d9;
    z-index: 1;
    width: 65%;
    transform: translate(-10%, -2%) rotate(20deg) scaleX(0.67);
}

.reactPythonBackground svg {
    filter: drop-shadow(-5px 5px 3px #141719)
}