.reactJSContainer {
    width: 100%;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
}

.react {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.reactLeft, .reactRight {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reactLeft { width: 65%; }
.reactRight { width: 35%; }

.electionBanner {
    position: absolute;
    top: -40%;
    left: 10%;
    width: 70%;
    height: 100%;
}

.electionBanner svg {
    fill: #232831;
    filter: drop-shadow(-5px 5px 3px #141719);
}

@media screen and (max-width: 1400px) {
    .reactJSContainer { max-height: none }
    .electionBanner { top: -30%;  }
}

@media screen and (max-width: 740px) {
    .react { flex-flow: column-reverse nowrap; }
    .reactLeft, .reactRight { width: 100%; height: 50%; }
    .reactRight { margin: 100px 0px 0px 0px; }
    .electionBanner { top: -18%; left: 20%; transform: rotate(-5deg) }
}