.reactJSContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.react {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.reactLeft, .reactRight {
    justify-content: center;
    align-items: center;
}

.reactLeft { width: 65%; margin: 20px 0 0 0 }
.reactRight { width: 35%; }

.electionBanner {
    width: 70%;
    height: 100%;
    margin: -160px 0 0 0;
}

.electionBanner svg {
    fill: #232831;
    filter: drop-shadow(-5px 5px 3px #141719);
}

@media screen and (max-width: 1100px) {
    .react { flex-flow: column-reverse nowrap; }
    .reactLeft, .reactRight { width: 100%; }
    .reactRight { margin: 50px 0px 0px 0px; position: relative; }
    .electionBanner { position: absolute; top: -10px; right: 30px; width: 40%; }
}

@media screen and (max-width: 740px) {
    .electionBanner { position: relative; top: auto; right: auto; width: 80%; }
    .reactRight { margin: 180px 0 0 0 }
}