.reactJSContainer {
    width: 100%;
    height: 95vh;
    max-height: 900px;
    justify-content: center;
    align-items: center;
}

.react {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.reactLeft, .reactRight {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reactLeft { width: 65%; }
.reactRight { width: 35%; }

.electionBanner {
    position: absolute;
    top: -25%;
    left: -10%;
    width: 100%;
    height: 100%;
}

.electionBanner svg {
    fill: #d9d9d9;
    position: absolute;
    filter: drop-shadow(-5px 5px 3px #141719);
}

.electionBanner .banner { 
    width: 100%;
    fill: #232831;
    transform: rotate(20deg)
}

.electionBanner .star1 {
    width: 20%;
    top: 24%;
    left: 60%;
}

.electionBanner .star2 {
    width: 20%;
    top: 19%;
    left: 37%;
}

.electionBanner .star3 {
    width: 20%;
    top: 17%;
    left: 25%;
    fill: #f15455;
}

.electionBanner .star4 {
    width: 20%;
    top: 22%;
    left: 49%;
    fill: #f15455;
}

.electionBanner .star5 {
    width: 20%;
    top: 28%;
    left: 70%;
    fill: #f15455;
}

@media screen and (max-width: 1400px) {
    .reactJSContainer { max-height: none }
    .electionBanner { top: -30% }
}