.social {
    width: 55px;
    height: 210px;
    position: fixed;
    bottom: 20px;
    left: 10px;
    justify-content: flex-end;
    align-items: center;
    background: #14171999;
    padding: 10px 5px;
    border-radius: 50px;
    z-index: 6;
    transition: max-height .2s ease-in-out;
}

.social .icons {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    transition: all .2s ease-in-out;
}
  
.social a {
    text-align: center;
    transition: all .2s ease-in-out;
}
  
.social svg {
    fill: #d9d9d9;
    width: 80%;
    transition: all .2s ease-in-out;
}

.social .expandButton:hover {
    fill: white;
}
  
.social .githubLogo { fill: #d9d9d9; transition: all .2s ease-in-out }
.social .indeedLogoBG { fill: transparent; transition: all .2s ease-in-out }
.social .indeedLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.social .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.social .electionLogoRed { fill: #d9d9d9; transition: all .2s ease-in-out }
.social .electionLogoBlue { fill: #a9a9a9; transition: all .2s ease-in-out }
  
.social svg:hover .githubLogo { fill: white; transition: all .2s ease-in-out }
.social svg:hover .indeedLogoBG { fill: #069; transition: all .2s ease-in-out }
.social svg:hover .indeedLogoLetters { fill: white; transition: all .2s ease-in-out }
.social svg:hover .electionLogoLetters { fill: #d9d9d9; transition: all .2s ease-in-out }
.social svg:hover .electionLogoRed { fill: #fa1a54; transition: all .2s ease-in-out }
.social svg:hover .electionLogoBlue { fill: #3146ff; transition: all .2s ease-in-out }

@media screen and (max-width: 740px) {
    .social { width: 40px; height: 160px; }
}