.sudokuSolver {
    width: 100%;
    height: 100%;
}

.sudokuSolverLeft {
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.sudokuSolverRight {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sudokuSolver h2 {
    font-size: 2rem;
    text-decoration: underline;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    padding: 5px 20px;
    margin: 20px 0px 20px 10px;
    background: linear-gradient(to bottom, #30475DFF, #30475D00);
    text-shadow: 0px 0px 5px black;
}

.sudokuSolver p {
    text-shadow: 0px 0px 5px black;
}

.sudokuSolver iframe {
    height: 100%;
    width: 40%;
    border-radius: 20px;
    outline: 3px solid #f15455;
    border: 3px solid #d9d9d9;
    box-shadow: -5px 5px 3px 0px #141719;
}