.swiftContainer {
    width: 100%;
    height: 800px;
    position: relative;
}

.swift {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 95%;
    height: 75%;
}

.swiftContainer .paintBackground {
    width: 95%;
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 12.5%;
}

.swiftContainer .paintBackground svg {
    position: absolute;
}

.swiftContainer .paintOne { 
    fill: #d9d9d9;
    z-index: 2;
    width: 85%;
    transform: translate(-10%, -35%) rotate(160deg);
}

.swiftContainer .paintTwo { 
    fill: #141719; 
    z-index: 0;
    width: 65%;
    transform: translate(0%, -25%) rotate(-60deg);
}

.swiftContainer .paintThree { 
    fill: #f15455;
    z-index: 1;
    width: 65%;
    transform: translate(27%, -50%) rotate(240deg);
}

@media screen and (max-width: 1400px) {
    .swift { width: 100%; }
}

@media screen and (max-width: 740px) {
    .swiftContainer { height: auto }
    .swift { flex-flow: column nowrap }
    .swiftContainer .paintBackground { transform: rotate(90deg);}
    .swiftContainer .paintOne { transform: translate(-150%, -20%); width: 150% }
    .swiftContainer .paintTwo { transform: translate(300%, -40%); width: 100% }
    .swiftContainer .paintThree { transform: translate(300%, -60%); width: 150% }

}

@media screen and (max-height: 800px) {
    .swiftContainer { min-height: 100vh }
}