.swiftContainer {
    width: 100%;
    height: 95vh;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
}

.swift {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 95%;
    height: 75%;
}